[submodule "c/minisat"]
	path = c/minisat
	url = https://github.com/agurfinkel/minisat.git
[submodule "c/minisat-c-bindings"]
	path = c/minisat-c-bindings
	url = https://github.com/niklasso/minisat-c-bindings.git
# [submodule "c/manysat"]
# 	path = c/manysat
# 	url = https://github.com/rohitjha/manysat.git
[submodule "c/glucose"]
	path = c/glucose
	url = https://github.com/QuentinJanuel/glucose.git
[submodule "c/manysat"]
	path = c/manysat
	url = https://github.com/QuentinJanuel/manysat
